<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Conditionals
    </title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<header>
    <h1>
        Conditionals
    </h1>
</header>
<main>
    <form @submit.prevent>
        <input type="text" v-model="skill"/>
        <button @click="addSkill">
            Add
        </button>
    </form>
    <p v-if="skills.length === 0">
        You didn't add anything!
    </p>
    <ul v-else-if="skills.length > 0">
        <li v-for="(skill, index) in skills" @click="deleteSkill(index)">
            {{ index + 1 }}. {{ skill }}
        </li>
    </ul>
    <p v-else>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, doloribus.
    </p>
</main>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="script.js"></script>
</body>
</html>